PRIVATE_OMERLO_HOST='<OMERLO_URL>'
PRIVATE_OMERLO_PROTOCOL='https'
PRIVATE_OMERLO_CLIENT_ID='<OMERLO_CLIENT_ID>'
PRIVATE_OMERLO_CLIENT_SECRET='<OMERLO_CLIENT_SECRET>'
PRIVATE_OMERLO_MEDIA_ID=<OMERLO_MEDIA_ID>
PRIVATE_OMERLO_ORGANIZATION_ID=<OMERLO_ORGANIZATION_ID>

PRIVATE_JWT_SECRET='<PRIVATE_JWT_SECRET_USED_FOR_OAUTH_SECURITY>'
